@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Decalotype';
  src: url('./Assets/fonts/decalotype.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GlacialIndifference';
  src: url('./Assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-decalotype;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.5);
  margin: 4px 0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
  width: 10px;
  padding: 5px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 2px solid transparent;
  background-clip: padding-box;
}
